{% extends "website/base.html" %}
{% load static %}
{% load material_form %}

{% block title %}About us | 360MedNet{% endblock %}
{% block content %}

    <div style="background: url('{% static 'userprofile/images/hdr1.jpeg' %}') no-repeat center center fixed; height: 400px">
    <div class="section no-pad-bot">
        <div class="container" align="center">
            <br><br><br><br>

            <img src="{% static 'userprofile/images/about.png' %}" class="responsive-img">

        </div>
    </div>
</div>

    <div class="container" style="font-size: small">

    <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12 m12 s12">
          <div class="card">

            <div class="card-content">
              <p class="blue-grey-text">
                Health care professionals are constantly faced with the challenge of keeping updated with latest
                  research and best practices in medicine. With varying backgrounds and resources, there’s visible
                  inequity in accessing credible information as well as building collaborative networks with other
                  professionals. We, however, believe that the healthcare workforce, with dissimilar experiences and
                  differing approaches can harness synergies if connected.<br><br>

                Platforms that bring together people who think differently; have different skills; have access to
                  varying resources or use different approaches but are able to network minds, can foster innovative
                  solutions.<br><br>

                360MedNet seeks to leverage the massive mobile and internet connectivity among health care professionals
                  in Africa to harness partnerships. We believe that exploration of such a global networking space will
                  create vital solutions through sharing of diverse ideas and opinions.<br><br>

                The instant and timely connection provides a fertile avenue for connections, collaborations and
                  consequently, creation of solutions that impact individual patient outcomes and professional
                  performance in real time.<br><br>

                </p><br>
            </div>
          </div>
        </div>
      </div>
          </div>

        <br>

         <div class="row">

          <div class="col s12 m12 l4">
            <div class="row">
        <div class="col l12">
          <div class="card" style="min-height: 500px">
            <div class="card-image">
              <img src="{% static 'userprofile/images/medisharedrk.jpeg' %}">
                <span class="card-title" style="font-weight: 600">Connect</span>

            </div>
            <div class="card-content">
              <p class="blue-grey-text">
                Do you have a very tight work schedule? Is your academic program depriving you of diverse mentorship?
                Would you like to be in touch with other health professionals of similar interests?<br>
                <br>360MedNet brings together students and medical professionals from the fields of Pharmacy, Nursing,
                  Medicine,Lab Technology, Radiology etc. These also bring various interests in several areas like
                  Infectious diseases,Drugs and therapeutics, Microbiology, Nursing practice and Cardiology among others.
                </p>
            </div>
          </div>
        </div>
      </div>
          </div>
     <div class="col s12 m12 l4">
            <div class="row">
        <div class="col l12">
          <div class="card" style="min-height: 500px">
            <div class="card-image">
              <img src="{% static 'userprofile/images/medisharedrk.jpeg' %}">
                <span class="card-title" style="font-weight: 600">Collaborate</span>
            </div>
            <div class="card-content">
              <p class="blue-grey-text">
                Collaborate to solve challenges through integration of diverse proficiencies.</p>
                <p class="blue-grey-text">
                Do not let the quality of your medical service be limited to your core field of training.
                Expand your knowledge and skills through tapping into the wide variety of medical knowledge possessed by others
                on 360MedNet.
                Embrace the richness and depth of information drawn from other people’s backgrounds to enhance your output.
                360MedNet expands your immediate horizon through helping you collaborate beyond the confines of your
                geographical location.
                </p>
            </div>
          </div>
        </div>
      </div>
          </div>

          <div class="col s12 m12 l4">
            <div class="row">
        <div class="col l12">
          <div class="card" style="min-height: 500px">
            <div class="card-image">
              <img src="{% static 'userprofile/images/medisharedrk.jpeg' %}">
                <span class="card-title" style="font-weight: 600">Create</span>

            </div>
            <div class="card-content" style="min-height: 400px">
              <p class="blue-grey-text">
                Create innovative solutions in Health care.</p>
                <p class="blue-grey-text">
                Diversity breaks stereotypes. Diversity opens up and enhances educational experiences. Diversity helps people
                appreciate new notions.<br>
                <br>Through shared knowledge, experiences, backgrounds and worldviews, 360MedNet is creating a hub for
                innovation in health care.
                </p>
            </div>
          </div>
        </div>
      </div>
          </div>
    </div>
    </div>

            <div style="background: url('{% static 'userprofile/images/hdr1.jpeg' %}') no-repeat center center fixed; height: 400px">
    <div class="section no-pad-bot">
        <div class="container" align="center">
            <br><br><br>
              <span class="green-text text-darken-3" style="font-size: xx-large; font-weight: 600">Vision</span>
              <p class="blue-grey-text" style="font-size: large">
              An intimately connected and enlightened healthcare workforce.
            </p>
                 <span class="green-text text-darken-3" style="font-size: xx-large; font-weight: 600">Mission</span>
               <p class="blue-grey-text" style="font-size: large">
              Building online platforms that break barriers to peer and mentorship support through open opinion sharing.
            </p>
        </div>
    </div>
</div>
    <br>

    <br>

    <div class="container">
     <nav class="flow-text" style="padding-left: 50px; font-weight: 500">The Team</nav>
        <br>

           <div class="row">

        <div class="col s12 m3 l3">
            <div class="card" style="min-height: 440px">
    <div class="card-image waves-effect waves-block waves-light circle">
     <img src="{% static 'static/website/images/1.jpg' %}">
    </div>
     <div class="card-content">
      <span class="blue-grey-text">Dr.John Mark Bwanika</span>
        <p>Founder</p>
         <br>
        <div class="row">
            <div class="col" style="width: 50px"><a href="https://www.facebook.com/john.bwanika" target="_blank">
                <img src="{% static 'userprofile/images/facebook.png' %}" width="30"></a></div>
            <div class="col" style="width: 50px"><a href="https://twitter.com/drjohnmark_b" target="_blank">
                <img src="{% static 'userprofile/images/twiter.png' %}" width="30"></a></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/john-mark-bwanika" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

        <div class="col s12 m3 l3">
            <div class="card" style="min-height: 440px">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'userprofile/images/david2.jpg' %}" alt ="Dr Martin Image">
    </div>
    <div class="card-content">
      <span class="blue-grey-text">Dr.David Martin Atuhe</span>
        <p>Co-Founder</p>
        <br>
        <div class="row">
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/facebook.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/twiter.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/faith-nassiwa-85a51aa0" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

        <div class="col s12 m3 l3">
            <div class="card" style="min-height: 440px">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'userprofile/images/Davissml.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="blue-grey-text">Dr. Davis Musinguzi</span>
        <p>Business and Growth</p>
        <br>
         <div class="row">
            <div class="col" style="width: 50px"><a href="https://www.facebook.com/musinguzidavis" target="_blank">
                <img src="{% static 'userprofile/images/facebook.png' %}" width="30"></a></div>
            <div class="col" style="width: 50px"><a href="https://twitter.com/davisthedoc" target="_blank">
                <img src="{% static 'userprofile/images/twiter.png' %}" width="30"></a></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/dr-davis-musinguzi-89634b26" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

        <div class="col s12 m3 l3">
            <div class="card" style="min-height: 440px">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'static/website/images/2.jpg' %}" alt ="William Lubega">
    </div>
    <div class="card-content">
      <span class="blue-grey-text">Dr.William Lubega</span>
        <p>Content Director</p>
        <br>
        <div class="row">
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/facebook.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/twiter.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/allanahumuza" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

    </div>

            <div class="row">

        <div class="col s12 m3 l3">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'userprofile/images/sowed.jpg' %}" alt ="sharing image">
    </div>
     <div class="card-content">
      <span class="blue-grey-text">Mutumba Sowed</span>
        <p>Software Engineer</p>
         <br>
        <div class="row">
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/facebook.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/twiter.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/mutumba-sowed-a37279110" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

        <div class="col s12 m3 l3">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'userprofile/images/Faith.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="blue-grey-text">Faith Nassiwa</span>
        <p>Software Engineer</p>
        <br>
        <div class="row">
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/facebook.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/twiter.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/faith-nassiwa-85a51aa0" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

        <div class="col s12 m3 l3">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'userprofile/images/Allan.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="blue-grey-text">Allan-deReal Ahumuza</span>
        <p>Software Engineer</p>
        <br>
        <div class="row">
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/facebook.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/twiter.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/allanahumuza" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

        <div class="col s12 m3 l3">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light circle">
      <img src="{% static 'userprofile/images/Nicholas.jpg' %}" alt ="sharing image">
    </div>
    <div class="card-content">
      <span class="blue-grey-text">Nicholas Turner</span>
        <p>Software Engineer</p>
        <br>
        <div class="row">
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/facebook.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><img src="{% static 'userprofile/images/twiter.png' %}" width="30"></div>
            <div class="col" style="width: 50px"><a href="https://ug.linkedin.com/in/allanahumuza" target="_blank">
                <img src="{% static 'userprofile/images/linkedin.png' %}" width="30"></a></div>
        </div>
    </div>
  </div>
        </div>

    </div>

    </div>

{% endblock %}