{% extends "website/base.html" %}
{% load static %}
{% load material_form %}

{% block title %}Help | 360MedNet{% endblock %}
{% block content %}
<h2>Code of Conduct</h2>
    <div>
    Thank you for choosing to be a member of the 360MedNet community. As we strive to grow a vibrant online community
        for medical professionals, this Code of Conduct helps us ensure that we maintain credible standards to foster
        health worker dialogue with utmost confidence and trust.
    Please review the Code of Conduct to understand the behavioral expectations for this Community. Your use of
        360MedNet reflects your agreement to adhere to the Code, our Privacy Policy and any other policies we
        communicate to you from time to time.
    You are encouraged to use our Support page or email info@360Mednet.com if you have any questions.


    </div>

{% endblock %}