{% extends "website/base.html" %}
{% load static %}
{% load material_form %}

{% block title %}Privacy Policy | 360MedNet{% endblock %}
{% block content %}
   <div style="background: url('{% static 'userprofile/images/hdr1.jpeg' %}') no-repeat center center fixed; height: 350px">
       <div class="section no-pad-bot">
        <div class="container" align="center">
            <br><br><br><br>

            <h2 class="header center teal-text text-darken-1">Privacy Policy</h2>

            <div class="row center">
                <h5 class="header teal-text text-darken-3 col s12">360MedNet</h5>
            </div>
            <br><br>

{#             <div class="row center">#}
{#                <a href="{% url 'signup' %}" id="download-button"#}
{#                   class="btn-large waves-effect waves-light teal lighten-1">Download Privacy Policy</a>#}
{#            </div>#}

        </div>
    </div>
</div>

    <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
<br><p class="blue-grey-text"> Protecting your privacy is one of our top priorities.
                Please take a few minutes to read the following carefully to understand our views and practices
                regarding your personal data and how we will treat it.
By using our site, you confirm that you accept our User Terms and Conditions and this Privacy Policy.
In order to ensure that the benefits and obligations of membership are understood, we ask all members to
                reach out to us with any questions, comments or suggestions you may have..</p>

                 </div>
          </div>
        </div>
      </div>
          </div>
    </div>

    </div>

       <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
              <p class="blue-grey-text">

<br><br><span class="green-text">1. What information is being collected and how is it used?</span>
<br><p class="blue-grey-text">
<br>The nature of the personal data we collect from you will differ depending on what type of user you are,
                which area of the site(s) or aspect of the 360Mednet service applies and the purposes for
                which you are supplying the data (for example whether you are registering to post to a
                forum or simply contacting us to make an enquiry or provide feedback).
                <br>This may include:</p>
                <ol class="blue-grey-text">
<li>Information that you provide by filling in forms on our site which may include: your name, email address,
    date of birth, telephone number, profession, your qualifications.</li>
<li>Technical information about your use of 360Mednet services including details of your domain name,
                location and internet protocol (IP) address, operating system, browser version,
    the content you view and how long you stayed on a page.</li>
<li>Other data from time to time to help us provide you with improved services -
    for example when we ask you to fill in a survey or questionnaire.</li>
            </ol>
                <p class="blue-grey-text">

                    <br><br>This data may only be disclosed to members of our team and may also be utilized in the following ways:</p>
                    <ol class="blue-grey-text">
                <li>To ensure that content on our site is presented in the most effective manner to you.</li>
                <li>To monitor, develop and improve our services.</li>
<li>To provide you with information, products or services that you request from us or which we feel may interest you,
    where you have consented to be contacted for such purposes.</li>
                <li>To allow you to participate in interactive features of our service, when you choose to do so.</li>
<li>To notify you about changes to our service -By way of example, if any service for
    which you have registered is no longer available, we may contact you to let you know that it
    has closed and inform you of any similar services offered by us and/or another company.</li>
            </ol>

                 </div>
          </div>
        </div>
      </div>
          </div>
    </div>

    </div>

    <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
              <p class="blue-grey-text">

<br><br><span class="green-text">2. What information is collected on the different areas of the Website?</span>
<br><p class="blue-grey-text">
<br><br><span class="green-text">2.1. Closed clinical forums</span>
<br>Access to clinical forums is restricted to Verified Registered Users. On the Website your community name will be displayed next to the title and first line of your posts in the Latest Blog Posts, Recent Discussions and Recommended Discussions content feeds. Once posted, we reserve the right to use data and comments with your community name, posted on the Website for 360Mednet’s use or use by selected third parties. Post publication removal of any such content is at our discretion.
<br><br><span class="green-text">2.2. Open forums & blogs</span>
<br>Only Verified Registered Users can post comments, start discussions, or add content to the Website. All open forum and blog content is visible to Unregistered Users.
Once posted, we reserve the right to use (including edit) data and comments with your community name, posted on the Website for 360Mednet’s use or use by selected third parties. Post publication removal of any such content is at our discretion.
<br><br><span class="green-text">2.3. Your profile</span>
<br>All Verified Registered Users have the option of creating a profile for themselves and to tell other users about themselves. You will be able to select which information you wish to display and any mandatory information will be indicated. We may share information in your profile without your user name/name and contact details with third parties. We do this for purposes such as aggregating how many registered people on the Website are, for example, cardiologists or junior doctors, so that we can improve the Website.
<br><br><span class="green-text">2.4. Social media links</span>
<br>By clicking the Facebook connect, Twitter, and/or any other third party social networking connection indicated on 360Mednet, users agree to share details of their 360Mednet posts and personas with Facebook friends, Twitter followers, and/or other third party social networking followers. Any details appearing on third party social networking sites will be governed by the terms and conditions and privacy policies of the sites on which they appear.
<br><br><span class="green-text">2.5. Searching for other 360MedNet community members</span>
<br>Any user can use the search function to search for Verified Registered Users. The search provides the full name, country, specialty and grade of 360Mednet Registered Users, but does not provide his or her 360Mednet community screen name or profile picture. Verified Registered Users will have the option of sending these users a message and requesting their friendship or to contact them as colleagues via an email to the recipient’s stated email address generated through our web mail system. The recipient will receive one email. This email will contain the message written by the requesting party, and also a link to login to 360Mednet where the recipient can accept or decline the friend request. The requesting party will not see the email address or other contact details of the receiving party. If the friend request is accepted both users will then see information as set by the users in their profile.


                 </div>
          </div>
        </div>
      </div>
          </div>
    </div>

    </div>

    <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
              <p class="blue-grey-text">

<br><br><span class="green-text">3. Additional uses we will make of your data</span>
<br><p class="blue-grey-text">We may use your data to respond and or monitor for any unauthorized use of our Website or any content within.
                If you post any content in breach of our User Terms & Conditions which involves any indication
                of violence or threats of violence or any similar act, we may at our absolute discretion inform
                any relevant third parties including without limitation the police and other law enforcement agencies
                about the content, your behavior and any of your contact and/or profile details as we determine appropriate.
<br><br>Should we receive a request to disclose your name (and /or contact details) by a claimant who alleges you
                have breached their rights, we will either inform the police or other law enforcement agencies as
                referred to above (if we consider this appropriate) or we will provide such information, if required to
                by virtue of a court order or any other requirements imposed by law. We may of course disclose any of
                your details to our advisors should we require advice around any disclosures

                 </div>
          </div>
        </div>
      </div>
          </div>
    </div>

    </div>


    <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
              <p class="blue-grey-text">

                .</p>
<br><br><span class="green-text">4. What else do we collect when you use the 360MedNet Website?</span>
<br><p class="blue-grey-text"> you Contact us, we may keep a record of that correspondence and use it to contact you in response and/or to
                update our records.
<br>In addition to responding to complaints or claims received we may use all information supplied on this Website
                to enforce our legal rights and protect against unauthorized access, use, activity and/or copying,
                either personally or via third party contractors and advisors. This may involve using any details
                supplied by you including your name and contact details.</p>

                 </div>
          </div>
        </div>
      </div>
          </div>
    </div>

    </div>


    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>

            <h1 class="header center teal-text text-lighten-2">Share & Learn</h1>

            <div class="row center">
                <h5 class="header teal-text text-darken-3 col s12 light">Share medical cases with hundreds
              of other medical proffessionals <br>and make better diagnosis to save lives</h5>
            </div>
{#            <div class="row center">#}
{#                <a href="http://materializecss.com/getting-started.html" id="download-button"#}
{#                   class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>#}
{#            </div>#}
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{% static 'userprofile/images/hdr1.jpg' %}"></div>
</div>

    <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
              <p class="blue-grey-text">

<br><br><span class="green-text">5. How long do we keep the information we collect?</span>
<br><p class="blue-grey-text">We keep your personal information for as long as necessary to fulfil our obligations to you and to protect our
                legal interests.
<br>At all times, our team will ensure the safety and confidentiality of all information received and shared on
                the website.</p>
<br><br><span class="green-text">6. How personal information is stored and protected</span>
<br><p class="blue-grey-text"> Your personal data is stored in our databases and is only available to web administrators of 360Mednet and
                selected authorized people on a password protected basis. We will take all steps reasonably necessary
                to ensure that your data is treated securely by us in accordance with this privacy policy.
                Where we have given you (or where you have chosen) a password which enables you to access
                certain parts of our site, you are responsible for keeping this password confidential.
                Please do not share your password(s) with anyone.</p>

                 </div>
          </div>
        </div>
      </div>
          </div>
    </div>

    </div>


    <div class="container">
     <div class="row">
          <div class="col s12 m12 l12">
            <div class="row">
        <div class="col l12">
          <div class="card">
            <div class="card-content">
              <p class="blue-grey-text">


<br><br><span class="green-text">7. Authentication</span>
<br><p class="blue-grey-text">You should not share your user name and password with other people. If you think you might lose or forget
                these identifiers, write them down and keep each in a separate place.</p>

<br><br><span class="green-text">8. Contact us</span>
<br><p class="blue-grey-text">Please contact us if any of the data we hold about you becomes inaccurate and if you have any queries or
                concerns about the data we are holding about you. We also welcome your feedback about what you
                like or don’t like about the Website. Your feedback is stored on a secure internal system that
                allows the appropriate person to respond to you.</p>

<br><br><span class="green-text">9. External sites</span>
<br><p class="blue-grey-text">You will encounter links to other sites from this Website which are not related to 360Mednet.
                Please be aware that once you click to one of these sites, you are subject to that site’s
                privacy policy and not to ours.</p>


<br><br><span class="green-text">10. Your consent</span>
<br><p class="blue-grey-text">By voluntarily submitting your information, you consent to the use of that information as set out in
                this policy. You should review this policy regularly, to note any changes as to how we collect
                and use personal information.
                </p>
            </div>
          </div>
        </div>
      </div>
          </div>
    </div>
    </div>

     <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>

            <h2 class="header center teal-text text lighten-1">Join the Community</h2>
            <div class="row center">
                <h5 class="header teal-text text-darken-3 col s12 light">360MedNet: Connect. Collaborate. Create</h5>
            </div>
            <br><br><br><br>
            <div class="row center">
                <a href="{% url 'join' %}" id="download-button"
                   class="btn-large waves-effect waves-light teal lighten-1"><i class="material-icons right">bubble_chart</i><b>Sign Up</b></a>
            </div>

        </div>
    </div>
    <div class="parallax"><img src="{% static 'userprofile/images/hdr1.jpeg' %}"></div>
</div>

{% endblock %}