{% extends "website/base.html" %}
{% load static %}
{% load material_form %}

{% block title %}Terms of Use | 360MedNet{% endblock %}
{% block content %}

        <div style="height: auto;">
    <div class="section no-pad-bot">
        <div align="center">
            <br><br><br><br>

            <h2 class="header center teal-text text-darken-1">Code of Conduct</h2>

            <div class="row center">
                <h5 class="header teal-text text-darken-3 col s12 light">360MedNet</h5>
            </div>

{#             <div class="row center">#}
{#                <a href="{% url 'signup' %}" id="download-button"#}
{#                   class="btn-large waves-effect waves-light teal lighten-1">Download document</a>#}
{#            </div>#}
            <br><br>

                <div class="container" style="height: auto">
        <div class="card">
    <div class="card-content blue-grey-text" align="left">
<br>Thank you for choosing to be a member of the 360MedNet community. As we strive to grow a vibrant online community for medical professionals, this Code of Conduct helps us ensure that we maintain credible standards to foster healthworker dialogue with utmost confidence and trust.
Please review the Code of Conduct to understand the behavioral expectations for this Community.
        <br><br>Your use of 360MedNet reflects your agreement to adhere to the Code, our Privacy Policy and any other policies we communicate to you from time to time.
You are encouraged to use our Support page or email <a href="mailto:info@360mednet.com">info@360MedNet.com</a> if you have any questions.
        <br><br><h4>What we encourage.</h4>
        <br><h6 class="green-text text-darken-2">Mutual respect</h6>
<br>With all the expectations of our work and training, it’s pretty hectic out there for health workers, so we would like to keep 360MedNet a place where we can feel safe and free to express oneself. Difference in opinion should not create friction but rather generate an opportunity for intellectual and mature discussion of differing ideologies so as to appreciate alternative world views.
        <br><br><h6 class="green-text text-darken-2">Use professional photos and information for your profile</h6>
<br>Please upload a favorite photo for your profile; one that provides the best representation of your professional work. You can also summarise your qualifications, experience and perhaps your fields of interest and aspirations.
        <br><br><h6 class="green-text text-darken-2">The idea is to keep sharing</h6>
<br>Did you come across an article that you loved (or hated) elsewhere? Share it on 360MedNet and start a conversation.
<br>Do you have any pressing issues within the medical fraternity and you would like the wider community to engage in discussing it?
<br>360MedNet provides discussion forums for free expression, advocacy and opinion sharing.
        <br><br><h6 class="green-text text-darken-2">Share medical cases for second opinion or to stimulate discussion.</h6>
<br>Remember, Photos speak a thousand words and are very helpful when asking for input on patient cases. However, make sure they do not reveal the identity of any patient in question.
<br>Even without photos, be exhaustive in your description of the cases you are sharing in order to get the best discussions and opinions from other members.
        <br><br><h6 class="green-text text-darken-2">Before you post...</h6>
<br>We would like not to have much interference in what you post or share with the community. It should however, be noted that should a pattern of breach of privacy, shaming, bullying, political propaganda be observed, we shall intervene.
<br>This could lead to suspension of your account
        <br><br><h6 class="green-text text-darken-2">Report violations of the Code of Conduct</h6>
<br>If you come across content or people violating this Code of Conduct, please send a message via our Contact Page, including a link or snapshot to the content you believe is in violation.
        <br><br><h6 class="green-text text-darken-2">Let’s grow together</h6>
<br>We want you to enjoy your time here! Please let us know if there’s anything that can add to your experience, from fun new features to new ways to improve online medical conversations.
        <br><br><br><h4>B) Not Encouraged</h4>
        <br><br><h6 class="green-text text-darken-2">Disclosure of identification information other than your own</h6>
<br>Every member on 360MedNet retains full autonomy on how much personal and identification information they provide.
<br>No other member has the right to disclose any such information about another member on the platform without permission.
        <br><br><h6 class="green-text text-darken-2">Hate, Discrimination, Bullying.</h6>
<br>Attacks on members or groups of people based on their social, racial, religious, gender, sexual orientation or ethnic group will not be tolerated.
<br>We believe that as the medical fraternity, our work break barriers and goes beyond what can possibly be hindered due to our background differences.
        <br><br><h6 class="green-text text-darken-2">Don’t engage in commercial promotion on 360MedNet</h6>
<br>We encourage you to share interesting medical literature or cases; inform the community about your new publications or book or things that might be of general interest to the medical fraternity.
        Any commercial or promotional messaging will have to be done through the community administrators
        by emailing: <a href="mailto:info@360mednet.com">info@360MedNet.com.</a>

    </div>
    </div>
    </div>

        </div>
    </div>
    <div class="parallax"><img src="{% static 'userprofile/images/hdr1.jpeg' %}"></div>
        </div>



{% endblock %}