{% extends "userprofile/home.html" %}
{% load material_form %}

{% block title %} {{ object.first_name }} {{ object.last_name }} | 360 MedNet {% endblock %}

{% block large %}
    <div class="row container ">
    <div class="card">
        <div class="card content ">
        <div class="col s12 m9 l9">

        <table>
            <tr>
                <td>
                    <br><img src="{{object.avatar.url }}" width = "150" class="responsive-img img-fluid"
                     style='max-height:150px;'>
                </td>
                <td><br><font color="#4682b4">{{ object.first_name }} {{ object.last_name }}</font>
                    <br>{{ object.profession}} at {{ object.hospital}}
                    <br>{{ object.specialization }}
                    <br><br>Joined on {{ object.created_at }}
                    </td>
                </tr></table>

        <div class="divider"></div>
        <br> About me<br><font color="#4682b4">{{ object.about_me }}</font><br><br><br>
        <div class="divider"></div>

        <div class="row">
        <br>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Gender :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.gender }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Date of Birth :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.date_of_birth }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Qualification </h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">
                {% for rq in read_qualification %}
                <br>Qualification:{{ rq.qualification }} &nbsp Field of Study:{{ rq.field_of_study }} &nbsp University:{{ rq.university }}
                {% endfor %}
                </div></font>

        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Profession :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.profession }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Specialization :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.specialization }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Year of first medical certification :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.year_of_first_medical_certification }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Personal Telephone :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.mobile_number }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Country of work :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.country }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>City of work :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.city }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Place of work :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.hospital }}</div></font>
        </div>
        <div class="row">
            <div class="col s12 m3 l4"><h6>Work Telephone :</h6></div>
            <font color="#4682b4"><div class="col s12 m5 l6">{{ object.work_number }}</div></font>
        </div>

        </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}