{% extends "website/base.html" %}
{% load material_form %}

{% block title %} Password Reset Complete | 360 MedNet {% endblock %}
{% block content %}
    <div class="container">

        <div class="col s12 m2 l3"></div>

        <div class=" col s12 m2 l3">
          <h5>
            Your password has been reset successfully.
              Please <a href="{% url 'login' %}">Login</a> with the new password.
          </h5>
        </div>


        <div class="col s12 m2 l3"></div>
    </div>
{% endblock %}