<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<table>
    <tr><td style="width: 30%"></td><td align="center">
    <img src="https://360mednet.com/media/emails/textlogo2.png" style="width: 40%; height: 40%">
        </td>
        <td style="width: 30%"></td></tr>
</table>

<table>

    <tr>
        <td>
            {% autoescape off %}
        Hello {{ doctor.first_name }},
        To initiate the password reset process for your {{ user.get_username }} 360 MedNet Account,
        click the link below:

        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        If clicking the link above doesn't work, please copy and paste the URL in a new browser
        window instead.

        Sincerely,
        360 MedNet Support Team

        </td>
    </tr>


            {% endautoescape %}
</table>
</body>
</html>