{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title %} Password reset done | 360 MedNet {% endblock %}

{% block content %}
     <div class="container">

        <div class="col-xs-2"></div>

        <div class="col-xs-8">
            <br><br>
            <h5>
                We have sent you an email with instructions for resetting your password if an account exists with the
                email you entered.
                You should receive them shortly.
            </h5>
            <br>
            <h5>
                If you don't receive an email, please make sure you've entered the email address you registered with us
                and check your spam folder.
            </h5>
            <br>
        </div>


        <div class="col-xs-2"></div>

    </div>
{% endblock %}