{% extends "website/base.html" %}
{% load material_form %}

{% block title %} Change Password | 360 MedNet {% endblock %}

{% block content %}
    <div class="container">

        <div class="col-xs-2"></div>

        <div class="col-xs-8">
              {% if validlink %}
                <h3>Change Password</h3>
                <form method="post">
                      {% csrf_token %}
                      {% form form=form %}{% endform %}
                      <button type="submit">Change Password</button>
                </form>
              {% else %}
                <h5>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </h5>
          {% endif %}
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}