{% extends "website/base.html" %}
{% load material_form %}

{% block title_block %} SignUp | 360 MedNet {% endblock %}
{% block content %}
    {% if registered %}
        <div class="container">
            <strong> Your account has been successfully registered with <strong>360 MedNet</strong> </strong>
        Click <a href="{% url 'login' %}"> here.</a> to proceed to login.<br />
        </div>

        {% else %}
    <div class="container">
    <br><br>
    {% for q in qs %}
        <span class="flow-text">Hello Dr.{{ q.other_name }}! </span>
    <br><span class="green-text">Your details have been verified.</span>
        <br>You can now register with <strong>360 MedNet</strong> and connect with other medics.
    {% endfor %}
<form method="POST">
    {% csrf_token %}
   {% form form=form %}
       {% part form.first_name prefix %}<i class="material-icons prefix">person_pin</i>{% endpart %}
       {% part form.last_name prefix %}<i class="material-icons prefix">person_pin</i>{% endpart %}
       {% part form.profession prefix %}<i class="material-icons prefix">class</i>{% endpart %}
       {% part form.country prefix %}<i class="material-icons prefix">class</i>{% endpart %}
   {% endform %}
{#    <h5>Account details</h5>#}
{#    {% form form=user_form %}#}
{#        {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}#}
{#        {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}#}
{#        {% part form.password prefix %}<i class="material-icons prefix">lock_open</i>{% endpart %}#}
{#    {% endform %}#}
    <br><br>

    <button type="submit" name="_submit" class="btn">Register</button>
</form>
    </div>
        <br>
    {% endif %}
{% endblock %}