{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title_block %}360MedNet{% endblock %}

{% block content %}
<br><br>

    <div class ="container">
    <div class="card blue-grey darken-1 card-content white-text">
    <div class="container" style="text-align: center">
    <br>
        <p class="flow-text" align="center">Join the Community</p>

      <div class="row" style="font-size: large">
          <br><br><br><br>
          You have been verified. Please check your email for your account details.
          <br><br><br><br><br><br><br><br>
      </div></div></div></div>

<br><br>
{% endblock %}