{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}

{% block title %}Signup | 360MedNet{% endblock %}

{% block content %}
<br>

    <div class ="container">
    <div class="card card-content ">
    <div class="container" style="text-align: center">
    <br>
        <p class="flow-text" align="center" style="font-size: xx-large">Request to join the Community</p>
      <div class="row">
      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
      {% else %}
        <p class="flow-text" style="font-size: small" >Please provide details as they appear on your medical license.</p>

       <form method="post" class="viewform">
        {% csrf_token %}
       {% form form=form %}
            {% part form.alternative_email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
            {% part form.surname prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
            {% part form.other_name prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
            {% part form.organization prefix %}<i class="material-icons prefix">business</i>{% endpart %}
    {% endform %}
       <br>
       <div class="submit col s12">
		<button class="btn waves-effect waves-light" type="submit" name="_submit"> Send Request
    <i class="material-icons right">send</i>
  </button><br><br>
       </div>
       </form>
          {% endif %}
          <br><br>
      <br><br></div></div></div></div>

<br>
{% endblock %}