SECRET_KEY=SECRET_KEY
DEBUG=True/Fasle
ALLOWED_HOSTS=ALLOWED_HOSTS comma separated string e.g(127.0.0.1,195.110.X.X,www.example.com)
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=127.0.0.1
SITE_HOST=SITE_HOST
EMAIL_USE_TLS=True
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER_GMAIL=EMAIL_HOST_USER_GMAIL
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
EMAIL_PORT=EMAIL_POR
DEFAULT_FROM_EMAIL=DEFAULT_FROM_EMAIL
EMAIL_BACKEND = django_mailgun.MailgunBackend
MAILGUN_ACCESS_KEY = MAILGUN_ACCESS_KEY
MAILGUN_SERVER_NAME = MAILGUN_SERVER_NAME
EMAIL_HOST_USER=EMAIL_HOST_USER
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True
DJANGO_SECURE_SSL_REDIRECT=True
GOOGLE_ANALYTICS_PROPERTY_ID=GOOGLE_ANALYTICS_PROPERTY_ID
GOOGLE_ANALYTICS_INTERNAL_IPS=GOOGLE_ANALYTICS_INTERNAL_IPS comma separated string e.g(127.0.0.1,195.110.X.X)