{% extends "userprofile/home.html" %}
{% load material_form %}
{% load staticfiles %}
{% block firsthead %}
    <link rel="stylesheet"  href="{% static 'userprofile/css/base_styles.css' %}" >
{% endblock %}
{% block title %} Events | 360 MedNet {% endblock %}

{% block content %}
    <br /><br />
<div class="container" style="width: 95%">
<div class="row">
    <h5 style="text-align: center">Available Scholarships</h5>
</div>
<div class="row">
    {% for c in counts %}
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="https://dummyimage.com/600x400/000/fff">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    {% endfor %}

</div>


</div>


{% endblock %}