{% extends "userprofile/home.html" %}
{% load static %}
{% load material_form %}

{% block title %} {{ object.title }} | Medical Cases| 360 MedNet {% endblock %}
{% block content %}


            <div class="container">
            <div class="card">
            <div class="container">
                <br>
                <p class="flow-text green-text" style="font-weight: 500">{{ object.title }}</p>
                <p class="blue-grey-text">Presenting Complaint : </p>
                 <span class="green-text text-darken-4">{{ object.chief_complaint }}</span>
                <br><br><span class="grey-text">Category:</span> <span class="blue-text">{{ object.medical_case_category.name }}</span>
                <div class="blue-grey-text">
                <br>A {{ object.patient_age }} year old {{ object.patient_gender }} from {{ object.patient_country_of_origin }}
                presented with {{ object.chief_complaint }}. The patient has a history of {{ object.history_of_present_illness }}
                and has been on {{ object.medications }}. The patient was physically examined on
                    {{ object.physical_examination }}. He is allergic to {{ object.allergies }}.
                <br><br><div class="divider"></div>

                <br>

                <table style="border-spacing:5px"><tr><td>
                    <br><img class="circle" src="{{object.doctor.avatar.url }}" class="responsive-img img-fluid"
                     style='max-height:80px;'>
                </td>
                    <td>Shared by:<br>
                        <br>Dr. {{ object.doctor.first_name }} {{ object.doctor.last_name }}
            <br>{{ object.doctor.profession}} at {{ object.doctor.hospital}}
            <br>Posted on {{ object.created_at}}
                       <br>Last updated on  {{ object.updated_at}}
                    </td>
                </tr></table>

                <br>
                <form method="POST" action="{% url 'medical-case-comment' object.id %}">
            {% csrf_token %}
           {% form form=form %}{% endform %}

            <button type="submit" name="_submit" class="btn">Post Comment</button>
        </form>
                    <br><br>


    {% for comment in view.comments %}
        <br><span class="blue-grey-text">{{ comment.comment_content }}</span>
        <br><br><span class="grey-text">Comment by:</span> Dr. {{ comment.doctor.first_name  }} &nbsp{{ comment.doctor.last_name  }}
        <br><span class="grey-text">{{ comment.created_at }}</span>
        <br><br>
        <div class="divider"></div>
    {% endfor %}
            <br><br>



    </div>
            </div>

            </div>
            </div>

     <div style="background-color: darkslategrey; height: 120px;" class="white-text" align="center">
                  <br><br>&copy 2017 360MedNet - Medical Cases
              </div>


{% endblock %}