{% extends "userprofile/home.html" %}
{% load static %}
{% load material_form %}


{% block title %} Start A Discussion | 360 MedNet {% endblock %}

{% block content %}
    <div class="container">
    <div class="col s12 m12 l12" style="padding-top: 50px">
        <div class="row">
        <div class="col l12 m12 s12">
          <div class="card ">
            <div class="card-content">
             <br><br>
                <form method="POST">
                    {% csrf_token %}
                   {% form form=form %}
                   {% endform %}


                    <button type="submit" name="_submit" class="btn">Post</button>
                </form>
                <br>
            <br><br>
        <div class="card-action" >
          <a href="{% url 'medical-case' %}" >Share a Medical Case </a>


            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
</div>
{% endblock %}