{% extends "website/base.html" %}
{% load material_form %}

{% block title %} Signup Complete | 360MedNet{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>

    <div class="col l6 m6 s12" align="center">
        <div class="card">

            <div class="content container">
                <br>
                <br>
                <br>
                <span class="green-text"><h3>Your Account has been successfully created.</h3></span>
                <br>

                <a href="{% url 'login' %}"><span class="green-text darken-2 btn">Login</span></a>

                <br>
                <br>
                <br>
            </div>

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}