{% extends "website/base.html" %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>

    <div class="col l6 m6 s12" align="center">
        <div class="card">
            <div class="card image">

            </div>
            <div class="card content">
                <span class="green-text">Your Account has been successfully created.</span>
            </div>
            <div class="card action">
                <a href="{% url 'login' %}"><span class="green-text darken-2">Login</span></a>
            </div>

        </div>
    </div>

    <br>
    <br>
{#    Your Account has been successfully created.#}
{#    <br>#}
{#    Proceed to login <a href="{% url 'login' %}" class="button">Login</a>#}
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}