<html>

Dear {{ name }},

{{ sender.doctor.first_name}} {{ sender.doctor.last_name}} has invited you to join 360MedNet.

Join and Be a part of a wonderful new world- 360MedNet.

360MedNet is a professional networking platform for Doctors, Pharmacists, Nurses, Dentists, Laboratory specialists, Medical assistants and the like.

<br>As part of this community, you will be able to:
<ul>
    <li>Share interesting cases with other medical professionals.</li>
    <li>Engage in closed forums for medics.</li>
    <li>Get real time information on scholarships.</li>
    <li>Get information about upcoming trainings and workshops.</li>
    <li>Meet mentors and mentees.</li>
    <li>Get information about upcoming local and international conferences.</li>
    <li>Find local and international employment opportunities.</li>
</ul>
<br>



To accept the invitation, please click the link below:
{{ link }}

</html>
