
{% extends "userprofile/home.html" %}

{% block title %}Invite a Medic Friend{% endblock %}
{% block large %}
{#     <div class="container" style="position: fixed; top: 25%; left: 25%">#}
    <div class="container col l12 m12 s12">
    <div class="card">
    <div class="container">
         {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% else %}
             <br><br>
             <span class="blue-grey-text flow-text" style="font-weight: 500">Invite a Friend.</span>
             <br>
<span class="green-text" style="font-weight: 300">Enter your friend's Full names and email to send them an
    invite to 360MedNet.</span>
<form method="post" action=".">
{% csrf_token %}
  {{ form.as_p }}
  <input class="btn green waves-effect waves-yellow" type="submit" value="send invite" />
</form>
    {% endif %}
    <br><br><br>
    </div>
    </div>
</div>

{% endblock %}

