
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .myButton {
	background-color:#f50e0e;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ed091c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    }
    .myButton:hover {
	background-color:#f01d1d;
    }
    .myButton:active {
	position:relative;
	top:1px;
    }

</style>
</head>
<body>

<table>
    <tr><td style="width: 30%"></td><td align="center">
    <img src="https://360mednet.com/media/emails/textlogo2.png" style="width: 40%; height: 40%">
        </td>
        <td style="width: 30%"></td></tr>
</table>

<br>

<table>
    <tr><td style="width: 30%"></td><td align="left">
    Dear {{ name }},
   </td><td style="width: 30%"></td></tr>
</table>

<br>
<table>
    <tr><td style="width: 10%"></td><td align="left">
<br>Join and be a part of a wonderful new world on 360MedNet.
<br>
<br>360MedNet is a professional networking platform for Doctors, Pharmacists, Nurses, Dentists, Laboratory specialists,
Medical assistants and the like.
<br>
<br>As part of this community, you will be able to:
           </td>
        <td style="width: 10%"></td></tr>
</table>
<br>
<table>
    <tr><td style="width: 10%"></td><td align="center"><img src="https://360mednet.com/media/emails/Why360Mednet.jpg"
                          style="width: 80%; height: 80%"></td>
        <td style="width: 10%"></td></tr>
</table>
<br>
<br>
<table>
    <tr><td style="width: 45%"></td>
        <td align="center"><p align="center"><a href="{{ website }}" class="myButton" ><b>Join the community</b></a>
        </p></td><td style="width: 35%"></td></tr>
    <tr><td style="width: 45%"></td><td align="center"><h3 align="center">Your Invitation Code:
        {{ code }}</h3></td><td style="width: 10%"></td></tr>


</table>
<br>
<table>
    <tr><td style="width: 30%"></td><td align="left">
<br>Kind regards,
<br>360MedNet Team
    </td><td style="width: 30%"></td></tr>
</table>

</body>
</html>


