{% extends "website/base.html" %}
{% load staticfiles %}
{% load material_form %}
{% block title %}Signup | 360MedNet{% endblock %}
{% block content %}
 <div class ="container">
 <br>
    <div class="card blue-grey darken-1 card-content white-text">
    <div class="container" style="text-align: center">
    <br>
        <p class="flow-text" align="center">Use invitation code to sign up</p>

      <div class="row">
       <form method="post" class="viewform">
        {% csrf_token %}
       {% form form=form %}

    {% endform %}
       <br>
       <div class="submit col s12">
		<button class="btn waves-effect waves-light" type="submit" name="_submit"> Sign up
    <i class="material-icons right">send</i>
  </button><br><br><br>
       </div>
       </form><br><br>
      <br><br></div></div></div>
 </div>
<br><br><br><br>
    <div class ="container">

          <div class="row center">
              <a href="{% url 'join' %}" class="red waves-effect waves-yellow btn hoverable mg-rg"><b>Request for Invitation code</b><i class="material-icons right">bubble_chart</i></a>
          </div>

    </div>
    <br><br><br>
{% endblock %}