{% extends "website/base.html" %}
{% load material_form %}

{% block title %} Invite | 360MedNet{% endblock %}

{% block content %}

 <div class ="container">
     <br>
     {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
     {% else %}
         <div class="card card-content ">
            <div class="container" style="text-align: center">
            <br>
            <p class="flow-text" align="center" style="font-size: xx-large">Invite Medics</p>

                <div class="row">
                    <form method="post" class="viewform">
                    {% csrf_token %}
                    {% form form=form %}{% endform %}
                    <br>
                    <div class="submit col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="_submit"> Invite
                            <i class="material-icons right">send</i></button><br><br><br>
                    </div>
                    </form>
                    <br><br>
                    <br><br>
                </div>
            </div>
         </div>
        {% endif %}
 </div>

{% endblock %}